{% extends 'partials/base.html' %}

{% block title %}
Homepage
{% endblock title %}

{% block content %}

  <section class="album py-5">
    <h2>About this project</h2>
    <p>This is my final project in DI.Institute, Full-Stack Python direction.</p>
    <p>In it, I tried to reflect my knowledge and skills in the use of Flask, API and databases in order to enable open source audiobooks to happen. At the moment, LibriVox turned out to be such a source.
      All audio recordings in this application are provided by this team.

      Not all of what I wanted, I was able to implement, but it's only a matter of time.</p>
    <p>Thank you for your attention.</p>
  </section>

{% endblock content %}