<footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">© 2022 Vitalii Kuznetcov</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://github.com/Greedy-Jabberwock"><img src="{{url_for('static', filename='img/linked.png')}}" alt="LinkedIn"></a></li>
        <li class="ms-3"><a class="text-muted" href="linkedin.com/in/vitalii-kuznetcov-0bab4b20b"><img src="{{url_for('static', filename='img/github.png')}}" alt="GitHub"></a></li>
    </ul>
</footer>